In [1]:
s="hello"

In [2]:
s

'hello'

In [3]:
print(s)

hello

In [4]:
s[0]

'h'

In [5]:
s[6]

IndexError: string index out of range

In [6]:
s[5]

IndexError: string index out of range

In [7]:
s[4]

'o'

In [8]:
s[1:]

'ello'

In [9]:
s[:3]

'hel'

In [10]:
s[:]

'hello'

In [11]:
s[-2]

'l'

In [12]:
S[::2]

NameError: name 'S' is not defined

In [13]:
s[::2]

'hlo'

In [14]:
s[::3]

'hl'

In [15]:
s[::-1]

'olleh'

In [16]:
s[::-2]

'olh'

In [17]:
s

'hello'

In [18]:
s+"this is my test"

'hellothis is my test'

In [19]:
print(s)

hello

In [20]:
s=s+" this is my test !"

In [21]:
s

'hello this is my test !'

In [22]:
print(s)

hello this is my test !

In [23]:
letter = 's'

In [24]:
letter*2

'ss'

In [25]:
s.uppre()

AttributeError: 'str' object has no attribute 'uppre'

In [26]:
s.upper()

'HELLO THIS IS MY TEST !'

In [27]:
s.lower()

'hello this is my test !'

In [28]:
s.split()

['hello', 'this', 'is', 'my', 'test', '!']

In [29]:
s.split(l)

NameError: name 'l' is not defined

In [30]:
s.split('l')

['he', '', 'o this is my test !']

In [31]:
mystring = "hello world"

In [32]:
mystring

'hello world'

In [33]:
mystring[0]

'h'

In [34]:
mystring[8]

'r'

In [35]:
mystring[-3]

'r'

In [37]:
mystring = 'abcdefghijk'

mystring

In [38]:
mystring[2:]

'cdefghijk'

In [39]:
mystring[:3]

'abc'

In [40]:
mystring[3:6]

'def'

In [41]:
mystring[1:3]

'bc'

In [42]:
mystring[::3]

'adgj'

In [43]:
mystring[2:7:2]

'ceg'

In [44]:
name = "sam"

In [45]:
a = name[1:]

In [46]:
"P"+a

'Pam'

In [47]:
b="t"

In [48]:
b*10

'tttttttttt'

In [49]:
x="HELLO"

In [50]:
x.upper()

'HELLO'

In [51]:
x.split()

['HELLO']

In [52]:
x = "hi this is string"

In [53]:
x.split("i")

['h', ' th', 's ', 's str', 'ng']

In [54]:
print('this is a string{}'.format('insert'))

this is a stringinsert

In [56]:
print('the {2} {1} {0}'.format('one','two','three'))

the three two one

In [57]:
print('the {b} {c} {a}'.format(a='apple',b='box',c='cat'))

the box cat apple

In [58]:
result = 100/777

In [59]:
result

0.1287001287001287

In [64]:
print('the result is {r:1.2f}'.format(r=result))

the result is 0.13

In [65]:
name = 'jose'

In [66]:
print(f'hello his name is {name}')

hello his name is jose

In [67]:
name = 'sam'
age = 3

In [68]:
print(f'{name} is {age} years old')

sam is 3 years old

In [69]:
my_list = [1,2,3]

In [70]:
my_list + ['STRING',100,23.2]

[1, 2, 3, 'STRING', 100, 23.2]

In [71]:
my_list = ['STRING',100,23.2]

In [72]:
len(my_list)

3

In [73]:
mylist=['one','two','three']

In [74]:
mylist[0]

'one'

In [75]:
mylist[1:]

['two', 'three']

In [76]:
another_list = ['fore','five']

In [77]:
new=mylist+another_list

In [78]:
new

['one', 'two', 'three', 'fore', 'five']

In [79]:
new[0]='one all caps'

In [80]:
new

['one all caps', 'two', 'three', 'fore', 'five']

In [81]:
new.append('six')

In [82]:
new

['one all caps', 'two', 'three', 'fore', 'five', 'six']

In [83]:
new.append('seven')

In [84]:
new

['one all caps', 'two', 'three', 'fore', 'five', 'six', 'seven']

In [85]:
new.pop()

'seven'

In [86]:
new

['one all caps', 'two', 'three', 'fore', 'five', 'six']

In [87]:
poplist = new.pop()

In [88]:
poplist

'six'

In [89]:
new.pop(1)

'two'

In [90]:
new.sort()

In [91]:
new

['five', 'fore', 'one all caps', 'three']

In [92]:
new.revers()

AttributeError: 'list' object has no attribute 'revers'

In [93]:
new.reverse()

In [94]:
new

['three', 'one all caps', 'fore', 'five']

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in mylist:
    print("hihi")

hihi
hihi
hihi
hihi
hihi
hihi
hihi
hihi
hihi
hihi

In [14]:
for num in mylist:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [20]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [23]:

for _ in mystring:
    print("hi")

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [25]:
tup = {1,2,3}

for item in tup:
    print("hi")

hi
hi
hi

In [26]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [28]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [31]:
for a,b in mylist:
    print(a)

1
3
5
7

In [35]:
d = {'k1':1,'k2':2,'k3':3}

for value in d.values():
    print(value)

1
2
3

In [36]:
x = 0

In [41]:
x = 0

while x < 5:
    print(f'the calue of x is {x}')

    x += 1
else:
    print("z is not less the five")

the calue of x is 0
the calue of x is 1
the calue of x is 2
the calue of x is 3
the calue of x is 4
z is not less the five

In [43]:
x =  [1,2,3]

for item in x:
    #123
    pass

In [44]:
mystring = 'sammy'

In [50]:
for letter in mystring:
    if letter == "a":
        break
    print(letter)

s

In [52]:
x = 0 

while x < 5:
    
    if x > 2:
        break
    print(x)
    x += 1

0
1
2

In [53]:
mylist = [1,2,3]

In [56]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [57]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [60]:
index_count = 0

for letter in "abcde":
    print("at index {} the letter is {}".format(index_count,letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [61]:
index_count = 0
word = 'abcde'

for letter in word:
    print(word[index_count])
    index_count+=1

a
b
c
d
e

In [63]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [68]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)

0
a
1
b
2
c
3
d
4
e

In [69]:
mylist = [1,2,3]
mylist2 = ['a','b','c']

In [71]:
for item in zip(mylist,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [72]:
list(zip(mylist,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [73]:
'x' in [1,2,3]

False

In [74]:
'x' in ['x','y','z']

True

In [75]:
'a' in 'a world'

True

In [76]:
'mykey' in {'mykey':345}

True

In [77]:
d = {'mykey':345}
345 in d.values()

True

In [78]:
d = {'mykey':345}
345 in d.keys()

False

In [79]:
mylist = [10,20,30,40,100]

In [80]:
min(mylist)

10

In [81]:
max(mylist)

100

In [82]:
from random import shuffle

In [83]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [84]:
shuffle(mylist)

In [85]:
mylist

[6, 9, 1, 4, 5, 3, 7, 8, 10, 2]

In [86]:
mylist

[6, 9, 1, 4, 5, 3, 7, 8, 10, 2]

In [88]:
from random import randint

In [89]:
randint(0,100)

72

In [90]:
mynum = randint(0,100)

In [91]:
mynum

80

In [92]:
input('enter a number here')

enter a number here123

'123'

In [93]:
mylist = ["hello"]

In [94]:
mylist = [x for x in 'mylist']

In [95]:
mylist

['m', 'y', 'l', 'i', 's', 't']

In [96]:
mylist = [x for x in range(0,11)]

In [97]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [98]:
mylist = [x**2 for x in range(0,11)]

In [99]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [100]:
mylist = [x for x in range(0,11) if x%2==0 ]

In [101]:
mylist

[0, 2, 4, 6, 8, 10]

In [102]:
celcius = [0,10,20,34.5]

test = [((9/5)*temp + 32) for temp in celcius]

In [103]:
test

[32.0, 50.0, 68.0, 94.1]

In [106]:
test = []

for temp in celcius :
    test.append(((9/5)*temp + 32))

In [107]:
test

[32.0, 50.0, 68.0, 94.1]

In [108]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [109]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [110]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
for